---
import { LogoPoster } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import { Footer } from "@modules/Footer";
import { IconSchool } from '@tabler/icons-react';
import { IconBrandLinkedin } from '@tabler/icons-react';
import { IconWorldWww } from '@tabler/icons-react';
import { IconBrandGithub } from '@tabler/icons-react';
import { IconMail } from '@tabler/icons-react';
---

<Layout
    title="BengalBots | About"
    description="About Us Page for BengalBots"
>
    <main class="page-content">
        <Hero
            heroType="ParallaxImage"
            client:load
            data={{
                image: LogoPoster.src,
                content: {
                    title: "About",
                    paragraph:
                        "",
                },
            }}
        />
<!-- Team -->
<div class="max-w-[85rem] px-4 py-0 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight ">Our Team</h2>
      <p class="mt-1 text-gray-600 dark:text-neutral-400">Staff Advisors</p>
    </div>
    <!-- End Title -->
  
    <!-- Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 gap-6">

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src="https://scholar.googleusercontent.com/citations?view_op=medium_photo&user=eG1UfxYAAAAJ&citpid=2" alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Hunter B. Gilbert
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Associate Professor of Mechanical Engineering
            </p>
          </div>
        </div>

        <p class="mt-3 text-gray-500 dark:text-neutral-500">
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://scholar.google.com/citations?user=eG1UfxYAAAAJ&hl=en">
            <IconSchool stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/hunter-gilbert-27641288/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.lsu.edu/eng/mie/people/researchfaculty/gilbert.php">
            <IconWorldWww stroke={2} href=""/>
          </a>
        </div>
        <!-- End Social Brands -->
      </div>
      <!-- End Staff Advisor Section -->
    </div>
    <!-- End Grid -->

    <!-- 
    Begin Student Section 
    -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-4 py-5">
      <p class="mt-5 text-gray-600 dark:text-neutral-400">Executive Board</p>
    </div>
    <!-- End Title -->
  
    <!-- Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src="https://lh3.googleusercontent.com/fife/ALs6j_EGOnTfZoGpE1fmpV4qxi4HStmwf4j-yPGFqyfqKyLGyhU49Jq8e_NhjYkgKe7Z5zNW_WCxVRjv11oO99u1_MTJ6MOQk7OR-wMgbtLrXV2yl9eqIt3tz19FH4898i6jLiwQka9aHM0TmFFd61DcgzUNsdWlf-FDXDJTpU7XwsfZRu1BMDGgzB1-XBGLF0OjxyCCzakAyr_fvZ8QoYm_uSAjtlOk_PA5USeAsa9RRor7EajFgUfN7K2l_l581M7EschoweS0xwglBG_UMdci2Safb-_fL4p5pr22aL92Aem0i37YiAU3Stwmxtx6DFhk0Mctq3CTzUejnaybMnO8JEOI3VHE_9Vx0WhD7ydyRcp8D2REE7bgms6OmGgo2TPC1xCASakvetKZ6_aKW3jvndvUqO08-aWcBjPniiQvpQ8TEFmgzGgq4PXqBY8jGn9r0eYlqwowmIPXQRew0AWhOgGviSNUan9clVo9Dr9NBHWLs9iBeBE2g8JlUetjya37gyWWEyRo6UrcMd-L_BcLmShMFjgxVYnDhD6APyGP2eg0oCea3ns30wepbxbAqcwmMdc3AaC3j3zwmt5F-BDKT_NgCYfD4M0vPbbmmxjuC_5GpFaWm9791IxZbW8gahmhRrSt0mz3EhKoVUeENOTbuOT9sBQZYt2OrecKVXFayWD3rBSs3uRmtdiMmwoPxDSfhl3eO88ci2W_6fjioEpmyVJizlZNJep3JnpOBSjdIt7uIIQ4WjwHxIVCGlDJB6buqZuBQDHzmSvP1EeBkDVCR_zZgDdwpqUyTEotAPCARVnPfPZQLoRfg75HjSGxsM8BazHtGglKU2GRvAVVAdQ0yyefon1XycWW-tox-4UH9Gf5DkFHTH_OYCXkhxGUlN36ijZi1xbRb_mOFXT0SicMl73313v2EUiUN4YuPLAJhCeSWANVznRfwjlhNmxEH83lnLw7Oj9gjmZzMS68qqbhyOxAVvnm4zwqkKkKdpn1Cmw7XKuCMJyU34yVoQ3kCHJEy8tZyC7Gc7x7RfvEz8q8xiH5P7DXlyImF0MacolwfpCjzPI4pRUUcA782rCjK99c6CK46swd7Mc3gdWxUHrj_7-0HGiU0VjqtLExRnFVKdLsFSbHgyNO_L-pE34zJHSgGZ_YF2xLKl4OMsgQqnT2p5yFnPzE3S1j7y0irRy2y7G4H0oFLDjGTHBoNoQdYX9VNcNQUPZ6IsGFh325OoMOWaLzLhJzGEm7f-KRXO-fB2op5dtWm838X3uiajXHe9j9SwmQBykFEVV2oUDV4vB-4EqdxX697bLZxkGLflcIJ3NPgtIN7NnXonA3SIENkl_UR2GF8yJLI8GORkMp-PpmL5z5Ia2RtE8brnhdsBSyMF9_GkHve4nUt7PLhBpCG-W_62ZxddaC3R-vbgHLi1iPbZaq11jN0aRZsltZorpFpO_K0UvizrmzFO7KkPf2gfpnsyxI0ECostjFoBlU3khevCUR_oLiqMUzpzJIb-tb74B4Xs075LaLgFI2F_YPxsvDSXBRs48l2FgOFfd5FxBLosQvvym0EBBv8NpSUiAlNRYlC4W0sqkgIxJ2WKJUVRK9gMqLh0cMcuOh1UXKGj8iDYi9lNp3TGy1hGG_H4qatqYAxXxxOKbnIf3wrlRhhoXwKzyAipd_Rxu0h8mPw02nDvpRHuVytBA=w1920-h937" alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Adrian Zapien
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              President
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          Aspiring World Conqueror
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/azapie/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:azapie1@lsu.edu">
            <IconMail stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://github.com/AZapie">
            <IconBrandGithub stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://zapien.dev/">
            <IconWorldWww stroke={2} href=""/>
          </a>
        </div>
        <!-- End Social Brands -->
      </div>

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src="https://lh3.googleusercontent.com/fife/ALs6j_GyEc-EYRX8rIAD977mR8JCaXQDLxjSA6hyd11NS05_MaRYE1g8JFyipPSuZvEctuBEqrH74UjI1xr030_lpX-Ui8LHl-MAcg7Q_0xipOFhnh7HcbfqyVI1OAbNrfkGG11CEDpicAE0154YMCi3_1lF2LHshbrNfdebv3NjFo8x1RSRHCDXRN5ZlXCiHg9OsrdkTXbniBeZiCEyFRME_Cfctn6jJhr-d6IwZTd--O5AusnbyBg3a04Vwb0Z-5oNbN8_FMYeUJ5dDzZN3TF5Whnxhn9xnZnquc6xIb8uWs2Aaw0T9WXlKhtJrPKr7PR2IA_oVPU-H3hAlXE8NTrL3-ZtVn0x2891m4sePquRXDqKMRgX59FVGUNleESvBs9lp-vR9EQUT_ApkwB9vQLoikzMCgS4SXqvMQUEcNqeCnkgdgsiELET0HM_t2V2xICETpx1x5VgAgwrljvm7V_f3i1SF1rFuBYuUyAc6qF191kKkgx4b8Zwrt8N0GOVFmPwLfM34EF9soORd6CyXxuViZDtNMEB7OnrcuLPjAkOznM5J6XnTBWy72vQkiJx5vjwhBCI7DBAq03FeiM-qnf9-8B3a0-5Z3QcRUGNd_bQRDYviFStS_J-_QMmdSLXntYQWHpnrCBzC-sql96JWV8Xp8zXiqMZlWXEZO56tlbGjOrepei561XBOTNbM9B2xBd6Dk7BNj_R00caL_Td8h4mdmPmUJObZAfglbcZvMlQQzLYmGncfREtOx_W9_-3w9J4CUWwAsi5T0oeewvQsZMfcYzOoZkQTHoTUnlWZxupfdYPvinOwXatBio69AUKe6Yamxo7ALF1fylVEPyh6wQmhncK2dRUU7A_jO5TW-TSIopdPVUbVbLGHRDTmzbqTamYOYuAmtLNaSX0MuxK-J2Bvzpx0u1DizU-OuclwbrJwUHX6qqfyDXEEPk_lZn7Rl5vWAt2QSSbFyTFp6233dxVvPLJMzw9xUVXARmde7UQfcgFD3Gx4Sp8ka3k9KS_RtrcTNtadSldIQUBM3FzKsHFTFOqhYO3Iq3vEHt4PtdtYPuCPMAZeDXDeiuhagKddxzUJrk3z3IdBUReDsmLTf0bMjMnGocptza2kV5bJEyqeB7WloKnt4t8auuT_X8W-8OvPYyvkRKpoT9YYvwsFOE0X7T7yCYgsKoue_BRurzZff8eAwv5AKCyGPgyFugnHhFliMwVe1Wcfuifk-ufA7DNbhtEsDjPwIr-sMP_ZsaNUPny3SGWXtn9K8lcZrWTaTrlnE3cxU1Lqpuu5mTcbv0E9mXp1CdlPxOn_SSg2mktcsofx0l5GgKRnuaf7JhsctLATlioIq1RYx0wzX2ClOC04g_SCeVwKfrd1hCVBt6QuJ2mblmEI9XJlYqH9s4Iwop9_dIHUF_AUYNO7eoDzMbnHom3EdzAKLNF_00GFOVyXrtiR3xqmqQRKf8f7TXTiNyowl9to_ue1M36Tyv7LsjOCIbVzacxvQv5UWU0oVDgsjOlYoqQMnL_acv0m259qIet_4Gk4eLZINrjyy21Z8PHp2jdwKbqeWDgaNyKtOi6ZLAAHig8vT9xC2nIBQovyRitBVfulBcrHQk5ql8clP8jHORzHx7ImUzz0BdWsHm-KnkzWZaTInXBRDT7J9hbGPjbp9BODwxCsYx4JgOHpygIdi_C_B0=w1920-h937" alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Kyle Davis
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Vice-President
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/kyle-davis-801125228/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:kdav265@lsu.edu">
            <IconMail stroke={2} />
          </a>
        </div>
      </div>
      

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src="https://lh3.googleusercontent.com/fife/ALs6j_Ei6l-EwueXUNjZrw8vBBC329g_VRAPNzg1B0CGrx_a9xi8enWrHCGXihJ96DpVITRQU8WAcGbwowv2VJrlHAR6b32PxvibOWsJPuxdmMNukzvVOa02xn6wcFSAsBOteGqqDfvhFf5sYySvoTp7saQ34eEHChTNntLlBzVlTtAgSEqPSotsOaE-CbV_xmCPQTyB-WoFO8ov-rbTPM_WVhfbzzLPKmarAWu_UaL9fYHUiMbWS6N3ENu3p-NcFdpatjbURMzOGNmGEUhTyKXw2gtU9IdK6QcFN5mObpSCq9vTucRi5ag5MAtNhu8OCVrLgBW1s1qRstwepbDPP9v3eFivvT5-83Z6OcylJ8hM0s9RwJRUDI0djXKRb5AfedzVmjHjfYTY2aujnfmWN50W2XIFqBoFqlpoh2N3lZZf4tc6qcZRRPXirMdrDI-pVIvFcMoW09vT44x74QPjdl28yrh-4Kzrc6ax5YFA_yAqiiRh4MtfIWjHHxKfcyw2KOz5i0JdFPSMMsbaelNg5K_2Gm8ILEMNgfpCe1EYXb224D4SrvskdxHFY4ySF0Xy7uuM2ZnXJl1NP7RDPnxcRaFDBtv3XOybl7amkkIAkCcYDmz6PvAwh5jkBcL_mbbG3kXjZ8PmDub8LdACqLruwjM7WwF_LmhnCYD_PCcxs6wFrOVd8kGzz-42ze0P79liwETiVE295qeF4XLi0Xz6u5ajAs2R_2nqrppJapcUrxqQQX_qCc5REWxIO7_4sESomKbEWpUtINIsmNefterBI4DrGrNdzCAx3qslnDGRqHmxfj_W5q-2R65tZa59Vd97Zl3FGbNUEofVZsl_J5kKpoe3mLe1Fv-EMvN7f-kZDDi8YNDNXocTYuFDk_l3_dGPw317zb1z9d4cZVwX-SVLcteoriCRFQla0RUkJPUZSPl83IAGDCRW3tflfGetfDvHmgsGJYJeX_OyNzamn91ibTGRz96bDSy4IRWzJ_EULBBmTK5lBQ6P9VZhkuuehN1b7VSZRTrvaPUfKvUfvv5hBLod_gS2FnotjB6_YcK-WxHmITraCWSRVpHwZ0NIW0ae1qjzhlTw0yWryyN82lYCvhgZuZd6G2c6zmcGsSmDWnEF9OstAtuOMSYrq7m3PEHMVFZ96cjCOsuqBeL_Igbv5ZIROUIeDd0juriuXVNuslnSYSyawk9eI7F3kAPkfUajcglT-VSWjRdCCYqxEqeo_6ZXgHvW0QC6sTKqibY7uCVwAlGWkV2igJB7V-8Pu4jO-lylT8VtFtB5XzEW9VPh_VDmqHd9hGbMszg5Bb6Mnjg-ZwwlpXsnBPeubvAgO-4KiJueoF0kyjzB-SVsg0UB0iXKp3SxOlJAHP6h1SJ-t7bePBL_77t1BdYtlXrS803mTXPJjXZvPtHHp6MlBCfqI-oNFtStK88AV4SFtJxIEF5vjwYs908fiKeygqHUultqjQQjuRHI1ivKn31KVzWxH857lUX6uITEz8fjmrT4zoz3vQN17GFlDfloew9hK69NHAJTSgprtE-jV0mPjRyXot6aAvixZtLT8lPX_c5IqylAM5c3SwDUOjPBgWIhjnzRTuIokCbBTS4c4Arr0Ps0FqvTr7yPFgIG3SXYr_WOJtrHfY80951Q8Or5TUJWWyRt06IJxXqRWDfTgsdaNtu3PHCv_8wR1g=w1920-h937" alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Jai Bergeron
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Secretary
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/jai-bergeron-887294298/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:jberg99@lsu.edu">
            <IconMail stroke={2} />
          </a>
        </div>
      </div>


      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src="https://lh3.googleusercontent.com/fife/ALs6j_EYxtTgyL0RrQ2OyFMWilzWNsMcBZ1ePMbEhUHppCFHK5EcXu6CrzhpsOVsvIdtTjtHnCnRK3VJfgMCl6U1NqbJozv1t80YisozBMcb8jLHVX8CvksD58SLErJB7OPcFSc9WGSx074EdkEP7J5jErb4zN-bsbJp-mez868Q9RokNGuy0LzvilWV7iKF98z7z4aAfaY-zCl34nfsaFpGGRxjAA5ngxd5Brl1ZfpVS5oRIyxF5Najt8gO6vwDldIxphLhZxhrsUQ6e_fk3M194hyZ40zIO8kAG3B4ZS00K4gGfdpfVp9fvuCroGM31LQgTXTYOWs7MIfcUZyG2x580NALT3WCSnTsGY_WkL-3JztMCzv6NF6poAiW_MmNoDA-VLSu02tGWqUNLVnSTUAdw2JBkG29He8DdekrOXKYerFqu2CSksuJmU_oV2PINQxxlkmuNMs7SDYwqMPjVM-KDOxCGED14otkWyu7VshiJpLLYuqhUQh2JFcJBkQSRpRk1_BuwBqk4xGZRKjyaqSMUoY-ggClv7kLJq51jQt6buTd8JwNe6JC_EAyHhHQv8XSBZVyba0KHNvqRl6-17msrR_Ce_Io3Q7x0cLniUo0et0Zyx8XPAFD5ebTgWD9bBClFy14Qb2o68PCyegk-KjfKoxwjh3TpMsAfnS5xRNhmQcZj5C8f7HQFblVxgHFUDgqRa66Dbd9vONrfVp26dAqTUV0dTskB764QUOF4XC_nd-F3cyo5zzDXrraeKzdwVSUvs4uKv6y0sQfqsBkAn8m280fm7LUTbE2ciRWFk9MC_1zB0fQ7zlKDP19fgu5Fksq_l73WLy-NnUTUCCHHln64FWi6U9Rh9dZe6I8I5MCS3_XqcP_OkOB0cOXQJKIWBC1VV4yoyPB-WT7Vfhzv4gBgXiXbgNubWT4emUtSI8AxTE6gNFn5VHG56jisATY2PEJ377Vs5-dszvxNGNWj3z_ve2nXZYHxejBp2lYpaB2pynTP6dXit2SkPlOQpB6Zbf9WBJRWsFUNT74T-hugcCm6WwoudYXbwR9e8vky9qcHt6OEVZGPRHg1y-v5ZxFCWv1BJd0nTrsvqmiBEzdrKuW050yXGjUXNtGHyLtsHW30BRKoGrpLAK5D9xId2_qyEl8c5FqmnCPNSD68QLIO9u_uZ9jGlw-wFcBEcEUcPyqxUJ2H3obga28qnB-ufevq_SdWTKa5X4bpCD-TSMjbyrxtTCpkvC_aZwpWcWiC9NlXQEummzcZ-fd_iKUMCFapcuAHlC85np6_Bj7hMfUX4CsU94MrcgjKoEtTAb8rMbgQJq3Q34HBauTLXL2MqdSYqrORKZnn1JISyILGegdZ5nNCvKIhURiEFA_zRlHg1M_v3eTvJ-1N6WEqbeO38eF89U4Y4mfDxc4y4T2b_kHcofOd62EZ_BdLWNtHF65rpfSWcvTjWDeHLipWfgUACf-Wh6o9wN5DDZ9thJIER0aEkNiPotuy9yIWPjrZmBMwuGPsUzGn3D371J2CkWAygmur2D429Jwx2_Vlfqj_oBvMEYYV8sANgBYYB92txAAym4eiGWFnCIxT7IwRYgR59XxO94fHgOQy38Q_nixGaQblOL068vBAkclUoE13o-gW7dAdl6he9_V-cEL_q-WSn67XVjHgp6KuQAdpRk8p7Yw2nQP112MjQ=w1920-h937" alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Jacques Speyrer
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              PR Manager
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/jacques-speyrer-8319a2275/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:jspeyr1@lsu.edu">
            <IconMail stroke={2} />
          </a>
        </div>
      </div>


      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src="https://lh3.googleusercontent.com/fife/ALs6j_FppxvGgcFHpgXEYlf9i1LLaqHn_ncQKaAGJz5Kx97dm6HOyjJZAfAR8gDGBC9i11tEsjigs-nZDE0kI1g1OWpTuJrapRcJznd70RomFeaeAPJWxcrybI44hGdF4VjvZURo4oyfU_v23c7T8fZsfhmI_SCft_mWQWUBL5nuEICC0yBXqJ-NPXkIAcfrRJSeeACmomYE84x1yTBPF4HJ2-oX7Yyny68v0m25Ja3iDrVC48Q-6qEoZ2B5CAbQVjjfyOVnzFM-eSXHeCRTD5AePfXAFYXh7p72FKKXuoSwpZHqFbaKFThK_qvA5_A_p1MBhT4AjQuIeetA5ZIeLBmekfbAV4mNtD2r3pRus_y3UOSeI-UhZljMNbTVYb2rBKwJ55aRUNi7At2utrVRPSLFnC6_BUKZsEwd3kDPhWBYiNInsn3oiVEh01m_1ZoKkkVaWcfe-MNq5YSfvJYyMsR6dvKj1voyOOg3L4RQQsm7Ghj16YY3tRZ9n5zZlgdu5d7iSTy3S3VHMo0bcNTdgDMJqdA_0wk6jzirALm8D2LvOqnAus7ZFZtluY4EIjdkmNc_AG6B7rjKIFwLteHcdu3oHXUYOyOCF5FAX84Juyo1isgwrUixvwet8cgqJwppjNcPWiVtLLRHlhcfrWGhEhcnFH51Yua3NKPGsK-X1ZVuT4fqcJouoLGt8pZp8-a_zA6zQoh3LCpWlDyNSEsAqv1MJWAd86eORfXGR5WyeNrAHj0_LLuwckATGZS7A9lP_MzV8fBvHVVq9PpeZT2oq81Xw4U3yB_Pf-a9e6880Q77edO9m5TiHVY2x4YFDd5UrVeozsSN1yBjU0ovOZ0p_TpsjVAujnjtXqo6oW1MgwvnzGl-K07damktK1BJ4ieIpA-PUlMSVyfPtWsXUY3wK6LZUQT5hGyjtoosmT_7vIDUIdmDrjAg67UT3hIHBRi9oa4wHxocWwCEfOJGIxMGUr7KkVMRJYVlqH1rlLQQvn-M1yuS8iPVBBxI-qAEZQ3k9dKwti5t1k8Q8KJPUmtlC23Vhx2ZPPZm2cK0RYsdzcHoFgEY6NLMkELn5uo2WNaO2HTzDSmwzuM-FzADdBMruXpPSc44BNCgTL2clFugfgYZgq3kNaLFIT1JRJ2h7qqCx_4oIAk2FQxxDt7xHokr9vcHm7f9S3Gk4FzOvD4-A-AFQOAes00h34jqwzK213ixGLIrkADOKSMVCO56nEHCTQ9n_OANGTYR6HmowBCEAao6ZwXtmzA4O0Bx9kpBh1h2yiK0PHIJu19628N1Fs6u3SbVVKRPLqdfLhSOL7ZNkIAMVUkIhaP_m70bFziHvyRIOrk2DUNq5g-iDqiXI4v9xdMwI_fKKpsfpm4vi9Dz8xGwAcoREAXH_JRXk0UHN5PC592h0fhWmnEb3r_0tfVoHdmJWtzGQjN-JWTSl-P96_WhgCRTKgjoU647WUdHuNRuYQG4BpPObMIaBzPvbTFxMpTAkqM8XaFRFw65YouqcAnUGGl2SfrynyalmhFIvRpWtknOqiU21RU-cfSOD7FxptmoDwyPaOpXXmW6PQXtp30p9RfCC8xz8XLZ_vuMTOGLLaiOccuhk4i3KyQcifyV7NVQaU8XB0JBAw90ioYNW8_lVGpEhgsgosNm3GFEuIkx8sgNSe7g_-y-mlmDxsWzyxvlfngj3nU=w1920-h937" alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Kyle Stack
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Treasurer
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/kyle-stack-944430302/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:kstack3@lsu.edu">
            <IconMail stroke={2} />
          </a>
        </div>
      </div>

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src="https://lh3.googleusercontent.com/fife/ALs6j_G5fE-VsXn44I7m8vH8qJERGJ7EdRFm7f_xzBhq7rftEnMgIAyYo1QDob1vr-kdm0f-ZNTevDfjx5y_aTBZ47PjrDhZJYbQ_E1IBR-HJXRjmunuZPfE9BQ1iqU0dqC9BtJ_eWze_NTjza-9Yks7D8fLnr5OePoKzHWCtnEEzJX7B71IpH6j9i2X0uMIlKh-KngAsWgz8-8ChHTEaSFtU9VgFI-hD5OcwF0dKbepcnwVL3lqJLSeVmG8atx2uKkpiHLGkeC8r8kKe5jwQP1FDCM5smwPdpxHKRxFK98vu4Zp8XN_fAAZ-nVTg5AgEdF0kFqtkvd-gcG5or8RBnvuKgoinZm_PJSj56JwX2i_jWE7GfY7W8Uo69bcx5M2asLfEH1-sAq2N5wLyzPm65CY7dqBqkOaHYMwJwPab6CjaUDaaLXyDq1ARoIGlLpLBgVQv7ZzM-Qgpbc7Zz5ZU23gLIZy3Y3IVyzKenKD5mJYQkIzetyMgG9GovcjxVB71SDTP3GsKBooSvSmrCjZCXE6JHfYegb1_P-eYIoLPh96EB_qa7fnNLrwEljS1EjjHstntlG8UvN29aZ0ZgLvy7TUcklY5Mt0AsjxqsR49or63AslaUmfN-mvkfM94_1o6crkxckzsF5qZC5uNrXLWA7-BsmUUZR8ZelYsRV4ZlXYarbzfwLyRBhroLeO4g-8gVv21s68XEq-lLmvShZ5OaCYA1qVHcc2FtkNRoHnN0w0_AVYDf21XAlDS_YyYsJ9XSAMSvpGh4ZWWeeTszh-2HRvfxZOp1ci9KspIGGYr-BQhdisQgZda_iAD-H0MUJq1DoqI6-iMzOxynY8Oq63NtZRZsibMTlwoemGDEva9gVkjbuQ1vDvluUnt2eLGAxGry5vWUZUPNKA5gb4GX8_1PfCZBktSquvzH0FJLgN2zoG4AolbM5HqSjmkqUbLf5k_acnEHso2fH35L6ktN4MIItNr9cTTBi-9Dqqfqr_3qUAZJOoXLhzITq5_5AYoGXcA3HVpP-vZLtuRSyNCu3fo5pYkzv0pi2vY4EGcm4KwKDobXWtejApplX5M7hu8rLkLHnj9mqJUJMSRplpkdcZrdKy2j48LVJ48KKdix_p0N9fVCrg9tCXbYsNi55W4Y_EIfbAeIYJLTGhUHzio56o1fHpA0D9a1r_n6NCn_BDmQXwF5RYRWiHQdY6qC2Z-r8nIyTEg7RodjGevfmP4mBkuMkkdEy1WaM-SRVmnSTvJ27W6YOb6qy-euXH7JZa8qKrzyHBZ9sfLWfLmSB7Kkk3cCt7dojhTlLCKV1N9jIeDjvEYgk8U3vvpMuyfnCZ2eUmxfAsCNHK5enZ_W5lgFtziKE7mH_2Gf7XWphTSgWIallBe82O0E6P4HmqKtRC3A89kQaa-DxjPS0_MwsFZdylhYWmzNpRhVMKNJsmt0-GWOKcbK4vABlNeI7asfYTCOhdtYH5f55yNU1pZcnmncnKvgj0vLHOBS2i8cZ4E6bt5msRl1govR994tjL3Ho8oSRxvUQN8ZOV1BMC8NlUOVx6OC5kAnRAvGqqVohyHLqK9MGB3SA7HbrC0pKwvFw9LctZmPbr4PE2-PjoB-pL6U3VuNPfgvGQE7lVdL6dEEazGmdinnEWKEJ56dw_3BZr9mNKYtiaG-o_FWdUDMNbwvN7hNeOtTx06yI=w1920-h937" alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Maureen Sanchez
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Member at Large
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/maureen-sanchez/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:msanc57@lsu.edu">
            <IconMail stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://github.com/maureensanchez99">
            <IconBrandGithub stroke={2} />
          </a>
        </div>
      </div>

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src="https://lh3.googleusercontent.com/fife/ALs6j_G1_OyrvX-zZ-DlY5OjWuggsEfIAoaFoSLxruUnyfLGihVRM1OxpikSfs6-gJBp7nCQFkOgWjs8ri-MkxAxp741Q9qlSutAG0ctL6M4_9FYkdS9QULVHbGjrAcpFxMzxFxoxGWYiFK_F0A3zxQdNy4RYtcrMkFQj83iDVxmD-RXdJgrCoeeRRTPuMzcQMH0qcUhKmqmBtqB60z5wBM6kc1XJRNt3rA6B64opXcF4wLSQqMe-pjsEDYq0RfVEoUAB_9nbO9MdgswpNoQz2ICaFv6r7CBunL4YJRPCZCkFkAr7Yr03ZNUBAcea52uMNRX3mSTEanBzr5wVZ-8nR4KXvG3ft_WZIzk6ajvufx_LEGDZrlUSWqICmIG3kRa4y-weOe8OMONfk64DM_jwQSXSQE3YfoDLumcTBBrJq0jElJg48MjO8PGnYnUSaIV2PRyjaM6EMlY-m0oKx1Hxw6UVNMmRd4VNUJ-ECEDqMZyQCseQKi6iYu6g1zlcGVbc8HDIzyx63kEaHkHimKn-_mGQamCyRMCVAbqb71SsfByHtibk2A2vBotCH_J2Otr6F5rmD-ycO1mDgWj6LwDNX7brJnJU13BVnP1-eMtzWK71jH2eGYmuAEStFwtKMQ8ft5XfIKI0aZlTc2Yr5G38f9SdlFgv1gsrvQK4UXLAgClzXufvA1z2_fUyHqdejAXZuqD4O1chVXJFjPqrzOCxnZX9ZQLB_q7-KyM6LJHKBN2nK2CRWoW0kZMoBF_uPHSSwilnWH9cYhqDkdAfYHfogoMZDqSGo679dn8eJvmI0MKnhMVhYRTCQSfjMZcEqn5iM3jdjjYxhsGXjl9RLfeUp4luj7Tt7x9XaC8-51pwS_Gl3ZJKu4lbnGCyXgCBNEfmYPvDGUPg6WCWyHPolEtsawu3sFNliDWPCK9XcPkmTe5g3JeEzywf4g_mApM0AuL7r-t7nRJ6DitR-VcESjgvCz5ven_QgYf43NJjigrbJ4HoAwPZ1NCBBCSWQQNOVYtProF0iF4OHyK_nVlOEDgThhaAIGZS_TX6qcjOD1kxT_vxh5Q6pNcalzoEa9xJRmo8XNZh6xakiKrZ9vHYOHZpSVZEk32BYZHxMhCj_v-bROBMonNvvAjGI9IjozJ-OytPWdktj2bG4_R69LLFhVPuXz7qxlMpGgxJbVp4itQb8VSMEeMhc45T-ndP4wJYDW2L5XJRUR7GdXWgqKCqRy8qfk4y1PuBTWQOrwp0LygFGI96j5mJEG5WXpl5PngPf6sxBB7dVCU03Ivv1E_i0EXNwtGahDpvwoblENXDagSK584Em3t83UnGwHi8isy4iGoy-86zGQt30CB1KePDtnezZ14b_cWEgL17WGYMnF2-4OqrPGkt8VBmILK6XjXnFHJG1ct3OZox77ORJ5FRk5QWSFMQKVnkmZ19Nc5nG9n9PEUXwR7DSyyW3MWbJ_rkqTJHxtxhYwOXRyRIsXV8jz7sP7K51rG-Sd-FiXnbfFNerwG-SNqHtllPT3SvnzWzudq9H4Qj_UIsGUdKKVpMBy0wmLPCPFNNtD6-hSep1Iazfh1XXNpKi8A4qmncA74aGoOVtS6dFn74S4gyaLR8TkNH7yUOZgEHEWUBOjTtfZBe9PeqiohEi2bKGMWtSwx-xyQ3HWNVcwrtehbmM4j6glza0Wa9sSDtOo=w1920-h937" alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Marc Hebert
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Combat Division Co-Lead
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/marc-hebert-28a9762964nfy4gd/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:mheb137@lsu.edu">
            <IconMail stroke={2} />
          </a>
        </div>
      </div>

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src="https://lh3.googleusercontent.com/fife/ALs6j_HJEsZoN7awVDroGNgUHUmpoi99LLaTdRG1z0_2zaaLDFp88CQwxLJGaD7fHDW3I0Hr9C8ZjqScJOXQa0P-Vf1Ne-TbMOMWXDlbprM0wTtNk_bSkyssIUls97dEvXbtPfuuS-0Wn2YZZHl_IQgL2kog_3WKPNn6WgNy3RL0xy8JRYGe1D6r3xIt4RWJ29Ta1gQHYrfoQlYDg7QfV1nOmyTMfkP0GF31kiQh44Ltxz9mQSx75e8EMH4z6qivKkpGSk5W-8vG_xG2U7OweCzvwFxJ47wxW8CrmMvAJxh-M-zQWvqokwj1DKgbOTCaEnnH9lHhXGsFWv4tgOag76Y8kDKIFcFfer98aJZG9TQA1ozCMNfMijZ4vWAEr5gE-NG1WKeGmQ5--dEmF5ZTOoQFlIhepTXxORjEtvOhP5mG7ev4QiKwv0ARwaRdQtcZn1ZtyvL277SNVRk5kc6JQ8XyJc1ecRGaa5c8T7gubXvbFJ3pKQualRhlCpeUUhaUjLPQH9w8xE3vvWcnlPO2wn6cZXxGZo4Z5-hAM7zMiiCVeXN_uSrba7WTj8n-gHLjbhOT1B4PY0DPiWDjyrJx9ZxRz2gmIEjC0UEaV_NbDVErv0wA_tP5y9mvv9NNw8yDXny4gDgyJ5xQsCNhyfcjweFWFr4c5h9NUc_Vh6-xPC_j9zIMfbSkq-3RqrmQXCbs8fdhIqOh3ravgLEz5DzR8v_TZHvUilnzgWfEDMWlosHIK6NfWNdp2L-25E1RtJj8lf0CeP2IwLErXPcdegF20q_Yijo1in4Wk0c-r-_Q6nSK1rg5mejPbuuNAX7v33YRjTxLqFpGFWvsVip2QxNGvH0jgEN5ml9ays6_Q3RtjkLYr_MOtoaMYEyaoRS8El5Nktr-XvRq6ME5J4Uf2dtBh7iFLyfpMSBe7Famvkk0koh6gCiipJ2_DevYG2OwYyLWezXp4IBg3mAcASGGQln6c5hKC1Md0CZ1PIZwKSqzXrvTn51DbDsX9sA2CbdAiUSwa5WFUV8zJe0U2ga5A30W0TCzLZrSC9spqhH705Mtx3YMF4t7g5FL67kISoYdcH0dTGXwmsq-sW1tB38Cay0XcSDG9lwYHqenEajwhKH_B5qp1Z4rHdZKV7FX4Dxfp-JEVimjdW4Lu92yX-U4QtDKQmn76R_CH7Wfg_T74Xc74B5cyqneADTsxllP6aeLhS6sswiWSxJv7YifUDsV09tqx-Yh3LXJ-fFcid6iM97Bn0H6ltmMK72vB-5L3g1kaoDCUAZZ2N1viPiizkvBPU_L7N2OtJY-zjh9yjrv5bJuSsQXofHMv9zzGEQ2hFglnbkwnvB6CtnDYihCk9GX26PBB8iHWQtkJrwB3bfX6cyovwVqk9PJW_G5GylxM4pYB01bSeqVeou4tqQ-5wPc72lbOF22GljPBxZxUdWn_llkRuePoQ9IkoQkSmz1CF2KudAiigm657m2EvzSRHugjjJPJxvvqQ7lOlsYMTmwmRouX9spfjgnlQ4af77aFtiEsW6DCYF4lYkZbyFmfReN6TKuLq0CBLRAwwGTNj6E-ZQaP1gfjKBYZ4U08nj8RWZF9KQBjhBSLjNJZlTjZeaLtLwvqOYdxb03ZRFBWcU5soxZFuj-9hBzO1FMbYyfmirPEiF7-FNHrjDi4AsAYy6j8hE0U9IX5F4AjYw=w1920-h937" alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              John Leblanc
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Combat Division Co-Lead
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/john-leblanc-70a210240/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:jleb177@lsu.edu">
            <IconMail stroke={2} />
          </a>
        </div>
      </div>

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src="https://lh3.googleusercontent.com/fife/ALs6j_HssTgqSQYE11pxN9sHBeI4ztGZ9J1ayT1L_4Ij7u124VnyuiSyPsl8V_naBikoMOrnYp_Fe-DoEQp8NUCoTkGYg3hXWzmRpPTn8M0B2ZzWf4iHqPRVbWwGdNudHg7nxqig1IGNvtEWTMwxAEfNP0jy3rEnnLfBTSgV4hKSwgdaWUOgWQ5rdLyHC8T1rt8ok9lq7r1d1BlSdh5QewYLdKpHb33acVubmARH-bQkEW_lVc2NKAaAIN7S0RZJu8AX8zHRKGFyouQrB1snH7eHHX_bcsNdou05V828j9zIrfOs9TWRRH0T7acpL7FfAHttybkT2uxtbdx_HhTuA0fEUIpb6aUEJeuYfx6c97Si5tj_Lj6DZoAgwtA8z6MwNlZO7ael9GWD9D3PWMBuCEbIieHPp0CY3jLpK3LbWa_DGPQSMV6XFLDGRjRu6sw-wtPT2lPdD3ySKCWU9Qm1bhKGOcnuz6sgaPYt8H44VxXhqAQHJZExoeLBPzeG5kC0pH914whp8QVn8kyzKA_5oj16tWxqEoQdhz7DGViT8oTmTIHzpXXf3kMIp_9WZhjO2giipwYlCM1nFdKcU49bpmU9metFrjnmDX6wNnycWlyMgPo6pOctWp2vYm1PcxE7ri16w5VGpbC4X5RYkkw2o9HdzvfLS-R8bvLZ3nJr2ppb8qkRKY7D-gVyr0iiC7LhwnDgMn3oE3aETPbnFUgGNtwkkhLn7mz47uNYJAEysC4SdgzQL9noqgxP6vQ1EsB6ic_POdgkjKq83t8rw9S-hbVyriW4rIv1FERHBMGTIkflZ4DvrM7iywZjaD1hiMiFwSZs8bBYlcwojG_xCOKGjG_wNvb7ma1MQ-ir1hJOzya80ybIfBeAbG0cDC0P3Tiggvr8--cYt2NuJHKKGNIYrAZ4-pgOw8pk3xdcZUCg5YsMhHAtPY7ukyUB6Z9P5eWTS4zB72J4KDORsAmS343Xh8fGTlFL04XjoC_ZnQqCTzuVUgNpgr99erzIg1C59BtjQWd5XD011yJBoXjKuHyeoOXa2ACczq5LQIeiMiGv17mz1WzYfnrS3sHgh_IbwZ-CnVoeD5qXps_MkCIy5kb4D4ah92M1lWwpNMzElFaRVF8FCBfH7DBzuohblm0m5cdXO2JHWCY3qVhajG-kpEIX3D4elesbzAU7C8KEsBn3kOVj9Fo5JU7Cr-s6eP30iefEVS0yCgiMnFF26ttEVjXTnxmsUx0UFMUkZiCP7APWPLUs8lePiuXBtyj_d-CQQvXYOK_5u0cJ4iOrRnnZ20LCNJgiDJAl39t7BK_0C9Q_Sj8ScfCK2qJkbDspiSEWitYMFcqwW0zBtY1TLu45QE49bb2e8AVqAHXERcsCwf_ZD3PGKRx_iIIZcqA3IHH6i0QdvuuVaLuyyurNxP3cMbTT-OQNfPN0hdmanguPMmjJAUW9Lc0OhdsYBJUsRR5XUIdkf1dQzHwLfQGS5X2ccxmGire-4KSRt7f8MNQ4E9URpn1S48ex14iRlPEAz9tl1wf0cbDOKD58_VgVjnVV7LfNXuT4H2INyLDpVt36ND8SdzrYyGIko8YXFtfN_rkPGEEAp4pphOOAchgwLPo11NiKmOJeHir7JtYi9CrexunO1rtU-coZlDnkRexIkgsf4ywf5nKvFOUAX17p7xxxCC40ydo3fYHIVFY=w1920-h937" alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Karma Rose
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              R&D Division Co-Lead
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:pbogga1@lsu.edu">
            <IconMail stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://github.com/PrudhviBoggavarapu">
            <IconBrandGithub stroke={2} />
          </a>
        </div>
      </div>

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src="https://lh3.googleusercontent.com/fife/ALs6j_FFiBAiZJp6W1kvvJ90BxK5cwRSwG74pwttRJIlAlji1JtD9YjlovTx3BkfH37vVODhQ413EVycnoKEjVTEkkDwbrvbr0SKfd9v5oF4tDDIEQccGgIJ_S851e9Je5VKr1rRzwBw9Tgb4zllWGCp8paAI9uLOTj96J82juTYZ5VpjgWiJOi_asZ1VrSSfqNpszN0A5ZEaD8QGFN28o7sy9SIgpsuh-USk5yG6aFtSrChhFw1K6YGkMGEKwSDnbR176DKQxWyH_yN24zGh0jvJXulVHe6RFJ2PJKKTeRmup3gq2ZAjpOYuI8pfDja2_WgV5cn7Jwm78FfNY26p6JJeGD5u-vGsKj3vOIkLYxZaH1cZ78eKAN1qNa0A-P9Ox-nmya1Vmu95MlavfSaviKTvNkZfei6h6VbwQgDt4SvXyhKVhkYCWmSkF7WePjK1NR0_NghodX5Q54vGD9UUA-22dyKBJNNCj8uUBk4RHmo4YgIsKZ3gbJV2SG-Sxw8Tfx409QCkJevZnjMdh4MxNOOmUjenPjtzhN6eWm1mUtOAVeehUE8FeR3M76agAhpkH_7hQIfKA39RdmrrLihRw4ApNTs3bUPB6yGMpsxwOeEjuriwvIPG3yjvmCZXsHYHiZC4vwKdlkrhlUlPPFzdKRidDNWgl_pAjfkrNBmmhd1NvIUl2_G-SNsCt5aZmuOjyhVqNwobPPTg9VQsm8i7P4w2gtTYEWO4X3CP0gFfWjvsJjKZSyAgAX7yTF8mPpOM-4QJpMg24_znheaJhlFWyF1sigsND39lJJbgAfOj4tzIbIp4Cg7HSxHL4Qvs63baH--CyVxAS5TjRQe0Vl1JTNl9Zs7Luf6LP6LVtg1RyV0i_HMT-S6ZFeP4_W4QelORrL6wA3Xa0JSyr9FyZjMQYt-pIsYpdTbk9ho8zKqThCs9Y2ZM-rpYKHxNqpBWRp6tAwff1B5ylwbsvedouk_uzlYBNFT1-B8EBVsLpubSCZCY3mTnSIXDZ0fGQRHFG_djFx-TuboZAU6-eeRe7RhxyFmsd7OmeCXQBm7fzEWAPjG2wVF1auf8YFzb6Z6FmYYjrsAyapfDI_HsbC77CtJAysGZgURInivYNx9F1WUZYAajnPf3vkdV52DQuTcSG3ZVzZW2XXNSaB02FhrqR8fQIJO59VkYl1OojoU9kp9ZMEqE-dt1B5M7DRSxxxyAcS8A4Cs3JkR17NEVTlg94Yt17Jo7PqPqhbggG4-R-k7t8WFjDXIg4yHcoyYasxnyCf_Wg-vO2mgzQkPt3EFGsOfXESk3eYvSLkutQIuWmx09PovSdmhF9wJUUl3zP_J8NC9lsqBizXErEs4WOLbJatjtx4-_P0Ix7-e29aljfTFN-W2EQS6blhebW0e7TMfdaTC4iigcEoqujgut7LKAFRO6KfKvCTKL5Samo25oEoUQhY3d21kAU-_YLxa0uDBnKym5COG936oStRdzP_mxMfxRhX8n4qtUAUsP-Qod9y50qQyRqyrjNyvVOAJ_sdXh_xlVRK6yd18e8GW-d7j9G5yYKxKDXKtHisDlZnuZ8F6GlgP_6v15tHESfk03HXNizy2ISRutmL0cYI41gxsLmORN2KuueaRFjqR60byiXCwWabXnP048Yrjfe3d64uCvSWKCZL9OLbytq5xCRLP0FMSpiwFYf8z6cA=w1920-h937" alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Tia Johnson
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              R&D Division Co-Lead
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:tjoh384@lsu.edu">
            <IconMail stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://sites.google.com/view/tia-johnson-portfolio/home">
            <IconWorldWww stroke={2} href=""/>
          </a>
        </div>
      </div>

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src="https://lh3.googleusercontent.com/fife/ALs6j_FjUHzHErwoCqfrOEc6swKT6r5Lo5Sx6A-Rq9G-hRny5cGlQAwtaFsF8oChQhvxCwD0RqfozPxRteg4zoT42gJU87TRA6SU28JqFeJRMnrD6NzAuPzG0FzCeoQ39X78RIWfY1YWHKVovbFBT-zWmIGvDR27Y11OIEH4VHBS7pPpJjbMHKg7QO4pC6SN_TYX0kkqJ9JG5I1JS4CWqLOynSYZ1uzgHWTGJNEtoRwX7RZE_0UyB-z83003_8VZAS8HOA0ggrtYqz5mfCYtlfmC31ma_ce4h06XLqT98ZLzaJPCyoOP_HRyaksbaBIzfy0G1oqpwiDHwjp_1DzozEaR4dvRgB-IPwwCsEzc8kuHNBw4OUgo8vDxf68KcSanVmh9VuZb64XPyO-l3kaksOQ1BwhfwasBJoZpvMY7MWzwoR_S7Z7nFLcaEzEao8Wy8VSxXDjRpu8tf7mmL8Wfupm6lMZb0-zpzkoI6GfJF8R-_Yw85sUH1FH86jF9aB3O8IvYNpR5_SinQQPYEUDJL_1wbYPCSWNptp5qItHrJaqoV3CrubxmVKQDIaakvPXFbz9lPUm4us19SwjEAw0dfdDKrqmJFmZgo0ELueRSd36TPWk83eDJfCPuYPbLG8rFF6pLmYk07i3R8n7Szx42AX15rNJaSJVubmcJfGGyPBPZ0kGn4p7vQm7a_V1Z-EFkQItGGO9psrsInISRoLe8zuwp9BpoDd4cgakek4HWkjDbOJl0PKS1bWCFm6slJ1pxozJgdI7vTqFEp6xa2ghmkij734a2rO0Ct-tAvSzywRSHYiFVTHKwJiNDEhkB_h9FKVvZ8rREOR8_huuCeh-ChkKwBv1t-HEc2ECDvBrPNeWNMgGiwA5FErux0WJHzqsPURY65dZ75b1GCRNaH02LfR0QyYkY-RVfZ0mdLh8-rSO14tdgPCPl_8j01K0AiFOo28YSip-9NOHygjaulkhGC6U5qlpfh-OT_LotKxIwvOaimCn8L14FTBK7usP0JOA6arYbjyHQtf5KR2221oMz7DVg5d-4biRgLpG6fYc4dopWf-nmy9jw-u7GAZFDCfykxAlh3LksQOuTA9Pf--FLRvYq6h5ID2_v0Fihsj3eDhOwOBZVIq7Plm6_grWaPcAAW3WhFZSU8XFY2rZljrL_UB9Z-vvJ3LrWu-fl9oUXDMLUyUfUQh6KucCvQODzHXD8Kx-xoG5-CGnpKQSOI5VCG9PUkCf9JCZL1XKi8j-JkkLez8OLoEnZcfKQxkY9x7FgtKbhdHzR_u9qIaXGEunfly0-B_p38sK_v749rb6d5zE_CinY-zTsnpDq37Qi-FzRCY5CW11zGMaaZ5z2J1yGu1LjzoFVAChcsfxKfpSl03TmuSNtioHuzQzIPyGvFH9pt95hrDjwfsKCxNKYxuhmnDDI3u12TOtwl_Y9SK-0rPV2jK5_F3R-gsL1DNzSWtopF7ivX3DypwKOlWWCmN7IZ1-6Tsu33m2t_2EJgKh10qIVgCfhojMy1lV-2SmQjz1Qv64TCCbMVMsOHBuU_i7rEE3MwNKO6tWGr71cRgMQPn8Bi5iYSklvIwx3v44grm_4fuIF0hGrJOubh8_fnr99gZjq8x2yZNYgtxezM8dQsego77r5ELun77W7Hbyv5oVg2uTmBW8RbbUXS4jphD40BcL9XWcbjIE=w1920-h937" alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Jean P. Gonzales
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Marine Division Co-Lead
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/jean-paul-gonzalez-9057b2262/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:jgonz95@lsu.edu">
            <IconMail stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href=https://github.com/Jpisbored">
            <IconBrandGithub stroke={2} />
          </a>
        </div>
      </div>

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src="https://lh3.googleusercontent.com/fife/ALs6j_HMfiyLrssRKvIoAFJ0g6iVtt_0dg_CB5byKOdTCHOZl1clKrrBwthWQOP_7O7wt-_gmsZCtWxIjDN560-9svfFilvhccDtN635VakNUQ87njtxMwhgEymW7QELBBe1rB05WBrXmRU4TVylFI3iVxbzo0tvnN4xzodHZ9VXmxITpPgAe-i-eEhVTJ9g8dvnuF1_S-NEgaGPMESLGUL5iiEO1gxJUAt1Vf3IXHqc6rUD-oks60UENeRqPcm40KC0cVpNtrBWC-YSP1cwdTm7F5jaKACEJbEri6UxewvRN-SJ19coOP5aUp6Cj1CR7hfJKyxXkUYlLlXexiOrzP1fiiGvmWy7dwOtNvxVVGXHmFvOCQOS2ZCAxBN2VssJ-tF96DIFlxrBxhK-pERDeBMbExrx2tT-xkG1amMwiD2X_LOuF-zJvj3Z4zMVu3H-Y9EkzyB_FqXdbR5bWm5M_7iPARiJVwNwgd8nfwv_UsUlGK-b7GPiE2wkHJiGO5L05dY5j6IFuVafpr2JEzii774eMc2mlDCMJ808TJvJ6qcAWIE3jHBDShw0EMumPQzb-OZgatx4jFwbDq_FF-HuJW6tDZzzLYEeAMeOGBqHB4N0z3qv2b-wFo5N1d9JP4sgtfSWc7kZ7IpJ9FEIBoXrsrjM8DKcVBLZqP5hrrA4Ctzuq1pcvtGzH4iHkzSvb9j2ICAGUBCdAVH_XKVC_n_Tg6esQNzCwadU6smHJL1yIj5F2GC7TRpJRg3kBInYfpOR7APtd72jUVzHx5Y07qx8jrU8eiBwQ2MEhNJd5aCPqinE6gdhd7Zowilyod9OQHwtuekoAuV4Xo-eNGiPjzVbBArLHDl-_8kza3dQ2bD6AdY_2dJWJB4eSOkklEA4cHDettQxsbCkgAXuj7nzM2Fex0SHEZS3liYfVQGtX_fCLZKdVsPKoFHFfS8nj9gBzzW1dAnVXM3cwmn-wtDgszg_4dlmCB9Di-5NwhsJsOA2bZPQmwPzKqLjr2HIpZmn5xQxdV8WIWefKUSaduMOiKqAti_9WrbL4ajsAJlvnH20ajDnwV7eXyrxKlcLeGIThlvHsQKYGXEKSPVLIEAEnUMpq_EUCObAHyqV0BSHr5TzIHX1XJeUU6aUILbjaSzyk0ThhI8c7ANftvX81Sc02SPBvAM1HlpIFzYvQSzjRfb4iAxqHDmopWdbyKfK6A-eg43xX5xhiQ7E5eci-NR3UqLF6ZmJHqJuWSwA0CNhGWslRGgO6c4EbAe1-s_V2y75f06WQPgr6CmSipNz4SqFKWYq68ZLX6rIIJ-LGLuoAuIRBSuRAgXIxyTs__Znrcoke6bTkfE5VGg1dlHYf53yx3xHsisqFqXijmzVy3GF9y7j_RgkYGWtvGeGVB9OEsOk_YaMK-kGKlA1alSpYRUSO6IDT7-zrjqya8yRr-Kc6QIGEJOtYQqk3c2WRCfqoMduhvN-Fx_yHrFaaK1gkPy1zy9Bjz-O4GaZKSjSIAdnSJhmvRkufRNFNMyKWl_VtH2IjNX1dnbdwtMBb30Kx07SegCx6FLXnRRG0Q2mlgEQYIaxOijLxCvi-KMbpLb8kzxJ3hC5pPCAsC5G9A9k1AOFIO-rBrFfZMVZsI6QypxwEJXQEnGQU_Mp8avD2j1mbPP8bT1a8wWKBDVWa1bgI3odMvE3HMdUICuDmQI=w1920-h937" alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Drew Myers
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Vex U Division Co-Lead
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:dmeye26@lsu.edu">
            <IconMail stroke={2} />
          </a>
        </div>
      </div>
      <!-- End Student Leader Section -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Team -->
    </main>
    <Footer />
</Layout>
