---
import { LogoPoster, Adrian, Drew, Jacques, Jai, John, JP, Karma, Davis, Stack, Marc, Maureen, Tia } from "@static/images";
import Layout from "../layouts/About-Layout.astro";
import { Hero } from "@modules/Hero";
import { Footer } from "@modules/Footer";
import { FadeIn } from "@utils/animations/FadeIn";

---



<Layout
    title="BengalBots | About"
    description="About Us Page for BengalBots"
>
    <main class="page-content">
        <Hero
            heroType="ParallaxImage"
            client:load
            data={{
                image: LogoPoster.src,
                content: {
                    title: "About",
                    paragraph:
                        "",
                },
            }}
        />
<!-- Team -->
  <div class="max-w-[85rem] px-4 py-0 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">Our Team</h2>
      <p class="mt-1 text-gray-600 dark:text-neutral-400">Staff Advisors</p>
    </div>
    <!-- End Title -->
    <!-- Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 gap-6">
      <!-- <FadeIn delay={0.2}> -->
      <Hero
      heroType="TeamMember"
      data={{
        name: "Hunter B. Gilbert",
        role: "Associate Professor of Mechanical Engineering",
        image: "https://scholar.googleusercontent.com/citations?view_op=medium_photo&user=eG1UfxYAAAAJ&citpid=2",
        socials: [
          { link: "mailto:hbgilbert@lsu.edu", variant: "email" },        
          { link: "https://www.linkedin.com/in/hunter-gilbert-27641288/", variant: "linkedin" },
          { link: "https://scholar.google.com/citations?user=eG1UfxYAAAAJ&hl=en", variant: "google-scholar" },            
          { link: "https://www.lsu.edu/eng/mie/people/researchfaculty/gilbert.php", variant: "website" },
        ]
      }}
    />
    <!-- </FadeIn> -->
      <!-- End Staff Advisor Section -->
    </div>
    <!-- End Grid -->

    <!-- 
    Begin Student Section 
    -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-4 py-5">
      <p class="mt-5 text-gray-600 dark:text-neutral-400">Executive Board</p>
    </div>
    <!-- End Title -->
  
    <!-- Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">
      <Hero
        heroType="TeamMember"
        data={{
          name: "Adrian Zapien",
          role: "President",
          quote: "Aspiring World Conqueror",
          image: Adrian.src,
          socials: [
            { link: "mailto:azapie1@lsu.edu", variant: "email" },
            { link: "https://www.linkedin.com/in/azapie/", variant: "linkedin" },
            { link: "https://github.com/AZapie", variant: "github" },
            { link: "https://zapien.dev/", variant: "website" },
          ]
        }}
      />

      <Hero
        heroType="TeamMember"
        data={{
          name: "Kyle Davis",
          role: "Vice-President",
          image: Davis.src,
          socials: [
            { link: "mailto:kdav265@lsu.edu", variant: "email" },
            { link: "https://www.linkedin.com/in/kyle-davis-801125228/", variant: "linkedin" }
        ]
        }}
      />
      <Hero
        heroType="TeamMember"
        data={{
          name: "Jai Bergeron",
          role: "Secretary",
          image: Jai.src,
          socials: [
            { link: "mailto:jberg99@lsu.edu", variant: "email" },
            { link: "https://www.linkedin.com/in/jai-bergeron-887294298/", variant: "linkedin" }
        ]
        }}
      />
      <Hero
        heroType="TeamMember"
        data={{
          name: "Jacques Speyrer",
          role: "PR Manager",
          image: Jacques.src,
          socials: [
            { link: "mailto:jspeyr1@lsu.edu", variant: "email" },
            { link: "https://www.linkedin.com/in/jacques-speyrer-8319a2275/", variant: "linkedin" }
        ]
        }}
      />
      <Hero
        heroType="TeamMember"
        data={{
          name: "Kyle Stack",
          role: "Treasurer",
          image: Stack.src,
          socials: [
            { link: "mailto:kstack3@lsu.edu", variant: "email" },
            { link: "https://www.linkedin.com/in/kyle-stack-944430302/", variant: "linkedin" }
        ]
        }}
      />
      <Hero
        heroType="TeamMember"
        data={{
          name: "Maureen Sanchez",
          role: "Member at Large",
          image: Maureen.src,
          socials: [
            { link: "mailto:msanc57@lsu.edu", variant: "email" },
            { link: "https://www.linkedin.com/in/maureen-sanchez/", variant: "linkedin" },
            { link: "https://github.com/maureensanchez99", variant: "github" }
        ]
        }}
      />
      <Hero
        heroType="TeamMember"
        data={{
          name: "Marc Hebert",
          role: "Combat Division Co-Lead",
          image: Marc.src,
          socials: [
            { link: "mailto:mheb137@lsu.edu", variant: "email" },
            { link: "https://www.linkedin.com/in/marc-hebert-28a9762964nfy4gd/", variant: "linkedin" }
        ]
        }}
      />
      <Hero
        heroType="TeamMember"
        data={{
          name: "John Leblanc",
          role: "Combat Division Co-Lead",
          image: John.src,
          socials: [
            { link: "mailto:jleb177@lsu.edu", variant: "email" },
            { link: "https://www.linkedin.com/in/john-leblanc-70a210240/", variant: "linkedin" }
        ]
        }}
      />
      <Hero
        heroType="TeamMember"
        data={{
          name: "Karma Rose",
          role: "R&D Division Co-Lead",
          image: Karma.src,
          socials: [
            { link: "mailto:pbogga1@lsu.edu", variant: "email" },
            { link: "https://github.com/PrudhviBoggavarapu", variant: "github" },
        ]
        }}
      />
      <Hero
        heroType="TeamMember"
        data={{
          name: "Tia Johnson",
          role: "R&D Division Co-Lead",
          image: Tia.src,
          socials: [
            { link: "mailto:tjoh384@lsu.edu", variant: "email" },
            { link: "https://sites.google.com/view/tia-johnson-portfolio/home", variant: "website" },
        ]
        }}
      />
      <Hero
        heroType="TeamMember"
        data={{
          name: "Jean P. Gonzales",
          role: "Marine Division Co-Lead",
          image: JP.src,
          socials: [
            { link: "mailto:jgonz95@lsu.edu", variant: "email" },
            { link: "https://www.linkedin.com/in/jean-paul-gonzalez-9057b2262/", variant: "linkedin" },
            { link: "https://github.com/Jpisbored", variant: "github" },
          ]
        }}
      />
      <Hero
        heroType="TeamMember"
        data={{
          name: "Drew Myers",
          role: "Vex U Division Co-Lead",
          image: Drew.src,
          socials: [
            { link: "mailto:dmeye26@lsu.edu", variant: "email" },
          ]
        }}
      />
      <!-- End Student Leader Section -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Team -->
    </main>
    <Footer />
</Layout>
