---
import { LogoPoster } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Contact as ContactModule } from "@modules/Contact";
import { Hero } from "@modules/Hero";
import { Footer } from "@modules/Footer";
---

<Layout
    title="BengalBots | Contact"
    description="Contact information for the club"
>
    <main class="page-content">
        <Hero
            heroType="ParallaxImage"
            client:load
            data={{
                image: LogoPoster.src,
                content: {
                    title: "Contact",
                    paragraph:
                        "",
                },
            }}
        />
        <ContactModule client:load />
    </main>
    <Footer />
</Layout>
